---
import Image from '~/components/common/Image.astro';

import { t } from 'i18next';
import { fade } from 'astro:transitions';
import Button from '../ui/Button.astro';
import { localizePath } from 'astro-i18next';

export interface Props {
  image?: string | any;
  section: string;
}

const { section, image = await Astro.slots.render('image') } = Astro.props;
---

<style>
  .tagline-fs {
    font-size: clamp(0.8125rem, 1.6vw, 1.25rem);
  }
  .title-fs {
    font-size: clamp(2.4375rem, 4.9vw, 5.0625rem);
    line-height: 1.2em;
  }
  .subtitle-fs {
    font-size: clamp(1rem, 1.6vw, 2rem);
  }
</style>

<section
  data-aos="scale-down-hero"
  data-aos-anchor="#trigger"
  data-aos-anchor-placement="top-top"
  data-aos-duration="600"
  transition:animate={fade({ duration: '1s' })}
  id="hero"
  class="z-50 mx-auto md:max-w-[120rem]"
>
  <picture data-aos="fade-up-sm" data-aos-duration="700" class="picture">
    <Image loading="eager" src={image.src} alt={image.alt} height={2250} width={1500} />
  </picture>

  <div class="mx-auto mb-8 max-w-2xl py-44">
    <p
      data-aos="fade-up-sm"
      data-aos-delay="400"
      id="trigger"
      class="tagline-fs font-bold uppercase text-[#ffd199]"
      set:html={t(`${section}.hero.tagline`)}
    />
    <h1
      data-aos="fade-up-sm"
      data-aos-delay="500"
      class="title-fs mb-4 font-heading font-bold text-white"
      set:html={t(`${section}.hero.title`)}
    />
    <p
      data-aos="fade-up-sm"
      data-aos-delay="600"
      class="subtitle-fs mb-8 text-white"
      set:html={t(`${section}.hero.subtitle`)}
    />
    {
      section === 'home' && (
        <div class="flex  items-center justify-center gap-4 sm:flex-row">
          <Button
            data-aos="fade-up-sm"
            data-aos-delay="700"
            href={localizePath('/contacto')}
            class="flex-grow"
            variant="primary"
            set:html={t('home.hero.action.primary')}
          />
          <Button
            data-aos="fade-up-sm"
            data-aos-delay="700"
            href={localizePath('/servicios')}
            class="flex-grow"
            variant="secondary"
            set:html={t('home.hero.action.secondary')}
          />
        </div>
      )
    }
  </div>
</section>

<style>
  @media only screen and (min-width: 81.25rem) {
    #hero {
      background: image;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /* creates parallax effect on background image */
      background-attachment: fixed;
      /* remove img tag so we can make parallax work */
    }
    #hero .picture img {
      /* display: none; */
    }
  }
  @media only screen and (min-width: 48rem) {
    #hero {
      height: 60%;
      /* 32px - 40px */
      padding: 0 clamp(2rem, 5vw, 2.5rem);
    }
  }
  @media only screen and (min-width: 0rem) {
    #hero {
      height: 60%;
      /* Centers button */
      text-align: center;
      /* changes on tablet */
      padding: 0 1rem;
      position: relative;
      z-index: 1;
      /* prevents overflow from the lines extending past the screen width */
      overflow: hidden;
    }
    #hero .picture {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }
    #hero .picture:before {
      content: '';
      width: 100%;
      height: 100%;
      background: #000;
      position: absolute;
      display: block;
      opacity: 0.6;
      top: 0;
      left: 0;
      z-index: 1;
      pointer-events: none;
    }
    #hero .picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes image act like a background-image */
      object-fit: cover;
    }
    #hero .container {
      width: 100%;
      max-width: 80rem;
      /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
      /* 144px - 280px - leaving extra space for the navigation */
      /* changes on tablet */
      padding: clamp(9rem, 25.95vw, 14.5rem) 0;
      margin: auto;
      position: relative;
    }

    #hero .flex-group {
      /* 60px - 220px */
      margin-bottom: clamp(3.75rem, 15.5vw, 13.75rem);
      margin: auto;
      width: 90vw;
      /* 464px - 562px */
      max-width: clamp(29rem, 60vw, 38.125rem);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 1.25rem;
      box-sizing: border-box;
      opacity: 0;
    }
  }
</style>
