---
import { t } from 'i18next';
import { fade } from 'astro:transitions';
import { localizePath } from 'astro-i18next';

import Image from '~/components/common/Image.astro';
import Button from '../ui/Button.astro';

export interface Props {
  image?: string | any;
  section: string;
}

const { section, image = await Astro.slots.render('image') } = Astro.props;
---

<style>
  .tagline-fs {
    font-size: clamp(0.8125rem, 1.6vw, 1.25rem);
  }
  .title-fs {
    font-size: clamp(2.4375rem, 4.9vw, 5.0625rem);
    line-height: 1.2em;
  }
  .subtitle-fs {
    font-size: clamp(1rem, 1.6vw, 2rem);
  }
</style>

<section
  data-aos="scale-down-hero"
  data-aos-anchor="#trigger"
  data-aos-anchor-placement="top-top"
  data-aos-duration="600"
  transition:animate={fade({ duration: '1s' })}
  id="hero"
  class="z-50 mx-auto md:max-w-[120rem]"
>
  <div class="content-container">
    <div class="content">
      <p
        id="trigger"
        class="tagline-fs font-bold uppercase text-[#ffd199]"
        set:html={t(`${section}.hero.tagline`)}
      />
      <h1
        data-aos="fade-up-sm"
        data-aos-delay="200"
        class="title-fs mb-4 font-heading font-bold text-white"
        set:html={t(`${section}.hero.title`)}
      />
      <p
        data-aos="fade-up-sm"
        data-aos-delay="300"
        class="subtitle-fs mb-8 text-white"
        set:html={t(`${section}.hero.subtitle`)}
      />
      {
        section === 'home' && (
          <div data-aos="fade-up-sm" data-aos-delay="300" class="flex items-center justify-center gap-4 sm:flex-row">
            <Button
              href={localizePath('/contacto')}
              class="flex-grow"
              variant="primary"
              set:html={t('home.hero.action.primary')}
            />
            <Button
              href={localizePath('/servicios')}
              class="flex-grow"
              variant="secondary"
              set:html={t('home.hero.action.secondary')}
            />
          </div>
        )
      }
    </div>
  </div>
  <picture class="background">
    <source media="(max-width: 600px)" srcset={image.src} />
    <source media="(min-width: 601px)" srcset={image.src} />
    <img
      loading="lazy"
      decoding="async"
      src={image.src}
      alt={image.alt}
      width="1920"
      height="1200"
      aria-hidden="true"
    />
  </picture>
</section>

<style>
  @media only screen and (min-width: 120rem) {
    #hero {
      padding-bottom: 14vw;
    }
  }
  @media only screen and (min-width: 0rem) {
    #hero {
      background: #000;
      min-height: 100vh;
      padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    #hero .content-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;
    }
    #hero .content {
      text-align: center;
      width: 100%;
      max-width: 46.875rem;
    }
    #hero .background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }
    #hero .background:before {
      content: '';
      width: 100%;
      height: 100%;
      background: #000;
      position: absolute;
      display: block;
      opacity: 0.6;
      top: 0;
      left: 0;
      z-index: 1;
      pointer-events: none;
    }
    #hero .background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
</style>
