---
import { t } from 'i18next';
import Headline from '../ui/Headline.astro';
import img1 from '~/assets/images/oe-15.avif';
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';

const item1 = { title: t('about.bullet0').split(':')[0].trim(), text: t('about.bullet0').split(':')[1].trim() };
const item2 = { title: t('about.bullet1').split(':')[0].trim(), text: t('about.bullet1').split(':')[1].trim() };
const item3 = { title: t('about.bullet2').split(':')[0].trim(), text: t('about.bullet2').split(':')[1].trim() };
---

<section id="about">
  <div
    class="max-width-[36.5rem] m-auto flex w-full flex-col items-center lg:max-w-[80rem] lg:items-center lg:justify-between"
  >
    <div class="flex w-full max-w-4xl flex-col items-start">
      <Headline
        position="center"
        tagline={t('about.tagline')}
        title={t('about.title')}
        subtitle={t('about.subtitle')}
        classes={{
          subtitle: 'mb-8 text-xl',
        }}
      />

      <div class="relative mx-auto w-full max-w-4xl">
        <Image class="shadow-m rounded-lg" data-aos="fade-up-sm" src={img1} alt="dude" />
        <div data-aos="fade-left-sm" class="box">
          <span class="desc">{t('about.box')}</span>
        </div>
      </div>

      <ul class="mx-auto mb-6 grid w-full max-w-2xl items-center gap-6 pt-16">
        <li
          data-aos="fade-left-sm"
          data-aos-easing="ease-in-sine"
          class="item shadow1 box-border flex flex-col items-start gap-3 rounded-md bg-[#eff8ff]"
        >
          <h3 class="m-0 flex items-center justify-start gap-2 text-xl font-bold leading-5">
            <Icon name="circle-check" class="block h-auto w-[2rem]" width={32} height={32} />

            {item1.title}
          </h3>
          <p class="text-md leading-7" set:html={item1.text} />
        </li>
        <li
          data-aos="fade-left-sm"
          data-aos-easing="ease-in-sine"
          class="item shadow1 box-border flex flex-col items-start gap-3 rounded-md bg-[#eff8ff]"
        >
          <h3 class="m-0 flex items-center justify-start gap-2 text-xl font-bold leading-5">
            <Icon name="circle-check" class="block h-auto w-[2rem]" width={32} height={32} />

            {item2.title}
          </h3>
          <p class="text-md leading-7">{item2.text}</p>
        </li>
        <li
          data-aos="fade-left-sm"
          data-aos-easing="ease-in-sine"
          class="item shadow1 box-border flex flex-col items-start gap-3 rounded-md bg-[#eff8ff]"
        >
          <h3 class="m-0 flex items-center justify-start gap-2 text-xl font-bold leading-5">
            <Icon name="circle-check" class="block h-auto w-[2rem]" width={32} height={32} />

            {item3.title}
          </h3>
          <p class="text-md leading-7">{item3.text}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<style>
  @media only screen and (min-width: 0rem) {
    #about {
      padding: var(--sectionPadding);
      position: relative;
      overflow: hidden;
      z-index: 1;
    }

    #about .container {
      width: 100%;
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(3rem, 6vw, 4rem);
    }

    #about .content {
      text-align: left;
      width: 100%;
      max-width: 39.375rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .item-group {
      gap: clamp(1rem, 2vw, 1.25rem);
    }
    .item {
      list-style: none;
      padding: clamp(1rem, 3vw, 1.5rem);
    }

    #about .image-group {
      border-radius: clamp(0.75rem, 4vw, 1.25rem);
    }
    #about .background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    #about .background img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    #about .box {
      text-align: center;

      max-width: 19rem;
      padding: 1rem;
      box-sizing: border-box;
      background-color: var(--oe-color-primary);
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      position: absolute;
      right: clamp(0.75rem, 1.9vw, 1.5rem);
      bottom: clamp(0.75rem, 1.9vw, 1.5rem);
    }
    #about .box-icon {
      width: 3.75rem;
      height: auto;
      display: block;
    }
    #about .desc {
      font-size: 0.75rem;
      line-height: 1.2em;
      text-align: inherit;
      font-weight: 700;
      width: 100%;
      margin: 0;
      color: var(--bodyTextColorWhite);
    }
    @media only screen and (min-width: 24rem) {
      #about .box {
        text-align: left;
        max-width: 19rem;
        padding: 1rem;
        box-sizing: border-box;
        background-color: var(--oe-color-primary);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        position: absolute;
        right: clamp(0.75rem, 1.9vw, 1.5rem);
        bottom: clamp(0.75rem, 1.9vw, 1.5rem);
      }
      #about .box-icon {
        width: 3.75rem;
        height: auto;
        display: block;
      }
      #about .desc {
        font-size: 1rem;
        line-height: 1.2em;
        text-align: inherit;
        font-weight: 700;
        width: 100%;
        margin: 0;
        color: var(--bodyTextColorWhite);
      }
    }

    @media only screen and (min-width: 64rem) {
      #about .container {
        max-width: 80rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      #about .image-group {
        /* sends it to the right in the 2nd position */
      }
      #about .box {
        text-align: left;
        width: 100%;
        max-width: 19rem;
        padding: 2rem;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        background-color: var(--oe-color-primary);
        /* 48px - 80px */
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        position: absolute;
        /* 12px - 20px */
        right: clamp(0.75rem, 1.9vw, 1.5rem);
        /* 12px - 20px */
        bottom: clamp(0.75rem, 1.9vw, 1.5rem);
      }
      #about .box-icon {
        width: 3.75rem;
        height: auto;
        display: block;
      }
      #about .desc {
        font-size: 1.25rem;
        line-height: 1.2em;
        text-align: inherit;
        font-weight: 700;
        width: 100%;
        margin: 0;
        color: var(--bodyTextColorWhite);
      }
    }
  }
</style>
